@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;
}

body {
    background-color: var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
}

.header
{
    padding: 2% 0% 0% 15%;
}

.header_menu
{
    display: flex;
    gap: 80px;
}

.header_menu_link
{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}
.presentacion
{
    display: flex;
    align-items:center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo
{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}


.img-pequena {
    width: 488px;
    height: 550px;
    object-fit: cover;  
}